html, body{
  height: 100%;
  width: 100%;
  font-size:16px;
}

h1 {
  color: #4fc3f7;
  font-weight: 200 !important;
  font-size: 300% !important;
  line-height: 1.2;
  position: absolute;
  margin:0 auto !important;

  transform: translateY(-50%);
  transform: translateX(7.5%);
}
@media(min-width:900px){
  h1{
    color: #4fc3f7;
    font-weight: 200 !important;
    font-size: 850% !important;
    line-height: 1.2;
    position: absolute;
    margin:0 !important;
    text-align: center;
  }
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.blue {

}

.center-this{
  vertical-align: middle;
}

.container{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.div-container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.arrow-down {
  font-size: 30px !important;
  font-weight: 100 !important;
}

#button-down {
  position: absolute;
  margin:0 !important;
  top: 80%;
  left: 45%;
  transform: translateY(-50%);
  transform: translateX(50%);
}
